
	body{ background-color:rgb(219, 106, 157);
                }
.main-box{ display:flex;
	  justify-content:space-between;
	  a:link{ color:black;}
	  a:visited{ color:black;}
	}
.right{ padding:left 50px;
       }
section{ background-color:white;
	width:100%;
	height:90%;
	 padding:20px 20px 20px 20px ;
	justify-items:center;
	justify-content:center;
	color:rgb(254, 202, 68);;
	}
	